dist/**
output/**
node_modules/**
miniprogram_npm/**
*.yml
.gitignore
.prettierignore
yarn.lock
package-lock.json
**/*.png
**/*.jpg
**/*.bmp
**/*.jpeg
**/*.gif
**/*.pug
**/*.sh
**/*.conf
**/*.log
.npmignore
.DS_Store